/* COLOR */
$accent:  #d53c3c;
$default: rgba(14, 22, 52, 0.7);
$default-hover: rgba(14, 22, 52, 1);
$title: #121c45;
$lightgrey: #c8c8c8;
$yellow: #fbd950;

/* FONTS */

%roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}